/* .login-container */

body{background: #eee url(../images/Sativa.png);}
html,body{
    position: relative;
    height: 100%;
}

.login-container{
    position: relative;
    width: 300px;
    margin: 80px auto;
    padding: 20px 40px 40px;
    text-align: center;
    background: #fff;
    border: 1px solid #ccc;
}

#output{
    position: absolute;
    width: 300px;
    top: -75px;
    left: 0;
    color: #fff;
}

#output.alert-success{
    background: rgb(25, 204, 25);
}

#output.alert-danger{
    background: rgb(228, 105, 105);
}


.login-container::before,.login-container::after{
    content: "";
    position: absolute;
    width: 100%;height: 100%;
    top: 3.5px;left: 0;
    background: #fff;
    z-index: -1;
    -webkit-transform: rotateZ(4deg);
    -moz-transform: rotateZ(4deg);
    -ms-transform: rotateZ(4deg);
    border: 1px solid #ccc;

}

.login-container::after{
    top: 5px;
    z-index: -2;
    -webkit-transform: rotateZ(-2deg);
     -moz-transform: rotateZ(-2deg);
      -ms-transform: rotateZ(-2deg);

}

.avatar{
    width: 100px;height: 100px;
    margin: 10px auto 30px;
    border-radius: 100%;
    border: 2px solid #aaa;
    background-size: cover;
}

.form-box input{
    width: 100%;
    padding: 10px;
    text-align: center;
    height:40px;
    border: 1px solid #ccc;;
    background: #fafafa;
    transition:0.2s ease-in-out;

}

.form-box input:focus{
    outline: 0;
    background: #eee;
}

.form-box input[type="text"]{
    border-radius: 5px 5px 0 0;
    text-transform: lowercase;
}

.form-box input[type="password"]{
    border-radius: 0 0 5px 5px;
    border-top: 0;
}

.form-box button.login{
    margin-top:15px;
    padding: 10px 20px;
}

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(20px);
    transform: translateY(20px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(20px);
    -ms-transform: translateY(20px);
    transform: translateY(20px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
}

.fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
}


/* media query */
/* For mobile phones: */
[class*="col-"] {
    width: 100%;
  }
  
  @media only screen and (min-width: 600px) {
    /* For tablets: */
    .col-s-1 {width: 8.33%;}
    .col-s-2 {width: 16.66%;}
    .col-s-3 {width: 25%;}
    .col-s-4 {width: 33.33%;}
    .col-s-5 {width: 41.66%;}
    .col-s-6 {width: 50%;}
    .col-s-7 {width: 58.33%;}
    .col-s-8 {width: 66.66%;}
    .col-s-9 {width: 75%;}
    .col-s-10 {width: 83.33%;}
    .col-s-11 {width: 91.66%;}
    .col-s-12 {width: 100%;}
  }
  @media only screen and (min-width: 768px) {
    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
  }



/* socialmediaicon of footer */
.socialmediaicon{
    height: 35px;
}

/* STORE */

.imgthumbnail{
    width:200px !important ;
    height:200px !important ;
}
.product-grid,.product-grid .product-image6{
    overflow:hidden
}
.product-grid{
    font-family:'Open Sans',sans-serif;
    text-align:center;position:relative;
    transition:all .5s ease 0s
}
.product-grid:hover{
    box-shadow:0 0 10px rgba(0,0,0,.3)
}
.product-grid .product-image a{
    display:block
}
.product-grid .product-image img{
    width:100%;height:auto;
    transition:all .5s ease 0s
}
.product-grid:hover .product-image img{
    cursor: pointer;
    transform:scale(1.1)
}
.product-grid .product-content{
    padding:12px 12px 15px;
    transition:all .5s ease 0s
}
.product-grid:hover .product-content{
    opacity:0
}
.product-grid .title{
    font-size:20px;
    font-weight:600;
    text-transform:capitalize;
    margin:0 0 10px;
    transition:all .3s ease 0s
}
.product-grid .title a{
    color:#000
}
.product-grid .title a:hover{
    color:#2e86de
}
.product-grid .price{
    font-size:18px;
    font-weight:600;
    color:#2e86de
}
.product-grid .price span{
    color:#999;
    font-size:15px;
    font-weight:400;
    text-decoration:line-through;
    margin-left:7px;
    display:inline-block
}
.product-grid .available{
    background-color:#fff;
    width:100%;
    padding:0;
    margin:0;
    list-style:none;
    opacity:0;
    transform:translateX(-50%);
    position:absolute;
    bottom:-50%;
    left:50%;
    z-index:1;
    transition:all .5s ease 0s
}
.product-grid:hover .available{
    opacity:1;
    bottom:20px
}

@media only screen and (max-width:990px){.product-grid6{margin-bottom:30px}}

/* homepage style */
.jumbotron{
    background-color: white !important;
} 

.carousel-inner img {
    width: 100%;
    height: 600px;
    
}
/* footer icon image */
.icons img{
    cursor: pointer;
    padding:28px;
}

.homepagecontent{
    padding: 10px;
}
.content1{
    width: 50%;
    height: 200px;
    background-color:#f8f9fa;
    padding: 35px;
    cursor: pointer;
}
.content1:hover{
    color:rebeccapurple;
}
.content2{
    margin-left: 50%;
    width: 50%;
    height: 200px;
    background-color:  #adb5bd;
    margin-top: -208px;
    padding: 35px;
    cursor: pointer;
}
.content2:hover{
    color: seashell;
}
.icon{
    margin-left: 30px;
    height: 100px;
    width: 100px;
}
.card{
    border: 10px solid rgb(52, 58, 64) !important;

}
footer{

    background-color: #adb5bd !important;
    
}

/* STORE */
.Productcontent img {
    margin-right: 10px;
}
.Productcontent .img-left {
    float: left;
}

/* ABOUT US */

