{% extends "navbar.html" %}
{% load static %}
{% block body %}
<br>
<body>
    

<div class="container-fluid">

    <h1>About Us</h1>
    <p>
        The graduate physicist Mr Rudra Bahadur Pun has been committed to the development and expansion of 
        photovoltaics for more than 37 years. As one of the pioneers in the solar industry, 
        he formed an engineering office in 1982 from which SunforceHomes SOLAR  emerged.
    </p>
    <p>
        Rudra Bahadur Pun Magar is well connected in the industry: He founded the PV symposium in Bad Staffelstein
             at Banz Abbey in 1986. He represented the interests of the Nepelese PV industry as an Executive 
             Board member and board spokesman of the Nepal Solar Industry Federation for six years from 1996.
              He supported the merger of the solar thermal energy and photovoltaic industry federations into
               "NSI - Nepal Solar Industry Federation".
    </p>
    
    <p>
        Rudra Bahadur Pun has received multiple awards for his complete dedication - including the 
        "Bavarian Environment Medal". He was awarded the "Entrepreneur of the Year" title from Ernst
         & Young in 2009 and in 2012 Rudra Pun received the Federal Cross of Merit in 2012 for his 
         long-term and entrepreneurial commitment.
    </p>

</div>
<hr>
<hr>
<div class="container-fluid">

    <h1>Our Branches</h1>
<hr>
<hr>
    <p>
SunforceHomes has been consistently developing and implementing PV power plants worldwide since 1982, 
ranging from large ground mounted PV plants to smaller rooftop systems, both grid-connected and off-grid projects.
SunforceHomes is the International Project Development division. 

We are currently developing projects within our nation such as Salyan, Nepalgunj, Rolpa and other districts.
<h3>Five reasons to partner with us:</h3>

<h4>Experience:</h4>
We have a proven track record of 3,300 MWp of installed power, more than 520 MWp of which are large scale solar parks.
<h4>Customer centred:</h4>
We tailor our projects according to the investors requirements.
<h4>Fully integrated: </h4>
Permits, licenses and authorisations, project development, design and engineering, planning, procurement, construction, 
commissioning, operation and maintenance, financing, and everything else related to the project to ensure the complete
satisfaction of our customers' expectations.
<h4>Flexibility:</h4>
SunforceHomes private shareholder structure fosters our business through fast and flexible decision making processes.
Security: Our projects are supported by Nepal Government financial strength and guarantees backed by first class bank 
securities.
</p>

</div>


<div class="container-fluid">
    <hr>
    <h1 class="d-flex justify-content-center">You Can Find Us Here</h1>
<hr>
<div class="container-fluid">
    <div class="d-flex justify-content-center">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3531.7531178772815!2d85.29522455085359!3d27.72490793124208!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x39eb18ebcd98db75%3A0x75ceb30dfec61a61!2sSolar%20Homes%20Nepal%20P.%20Ltd.!5e0!3m2!1sen!2snp!4v1580011860632!5m2!1sen!2snp" width="800" height="600" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
    </div>   
</div>

</div>

</body>




{% endblock %}
