<html>
    <head>
        <title>Solar house Inventory</title>
    </head>

    {% load static %}

    <!-- nav bar -->

    <link rel="stylesheet" href="{% static '/css/style.css' %}">
    <link rel="stylesheet" href="{% static '/css/bootstrap.min.css' %}">   
    <link rel="stylesheet" href="{% static '/css/mystyle.css' %}"> 
    <body >
        <div class="container">

        <nav class="navbar navbar-expand-md navbar-dark bg-dark">
            <a href="#" class="navbar-brand">Solar House</a>
            <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>
        
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <div class="navbar-nav">
                    <a href="/create" class="nav-item nav-link">Home</a>
                    <a href="#" class="nav-item nav-link">About</a>
                    <a href="#" class="nav-item nav-link">Products</a>
                    <a href="/login" class="nav-item nav-link">Login</a>
                </div>
                <form class="form-inline ml-auto">
                    <input type="text" class="form-control mr-sm-2" placeholder="Search">
                    <button type="submit" class="btn btn-outline-light">Search</button>
                </form>
            </div>
        </nav>


        <!-- sidebar -->

            {% block body %}


            {% endblock %}

        </div>
    </body>
</html>