{% extends "navbar.html" %}

{% load static %}


{% block body %}
<body class="container-fluid">
  

<hr>
<h3 class="h3 d-flex justify-content-center">Welcome to our Store</h3>
<hr>
<div class="container-fluid">
          <div class="content-heading"><h3>Simple. Fast. Ordered. – The SunforceHomes SOLAR Online Shop.</h3></div>
          <p>The new SunforceHomes SOLAR Shop contains more than 1,500 quality products. Our extensive portfolio offers a large selection of products for every customer requirement and
               for all PV plant sizes. Whether photovoltaic systems for residential buildings, commercial buildings or PV power plants - the Sunforce SOLAR Shop offers you the right
                modules, inverters, batteries, mounting systems as well as numerous accessories.

          </p>
          <p>
            An enhanced search function ensures that no product will go undiscovered. For example, there is the possibility to filter PV modules by manufacturer, performance 
            class and even cell technology. This gives you a clear overview and makes it that much easier to purchase the right product.
          </p> 
        
          <p>
            Thanks to a well-designed navigation system and clear layout you can enjoy a user-friendly experience. In addition, the SunforceHomes SOLAR Shop is optimized for mobile 
            use with the main focus on navigation and relevant content. It is fully functional for all mobile devices and makes shopping really easy while on the road.
          </p>
</div>
<!----------------------- Displaying available products from backend to frontend  -------------------------------->
<hr>
<div class="container-fluid">
<h3 class="h3 d-flex justify-content-center"> Our Store Products </h3>
<hr>
<div class="row">
{% for Product in products %}

    
        <div class="col-md-3 col-sm-6">
            <div class="product-grid">
                <div class="product-image">
                    
                        <img class="imgthumbnail" src="{% static '/images/' %}{{ Product.image }}">
                    
                </div>
                <div class="product-content">
                    <h3 class="title">{{ Product.name }}</h3>
                    <div class="price">{{ Product.price }}
                        
                    </div>
                </div>
                <ul class="available">
                    <h1>Available</h1>
                </ul>
            </div>
        </div>
        {% endfor %}
    </div>
  </div>
</body>
{% endblock %}